body {
    margin: 0;
}

header {
    position: sticky;
    background-color: #000;
    color: #fff;
    padding: .5rem;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1000;

    h1 {
        margin: 0;
        display: inline-block;
    }

    nav,
    ul,
    li {
        display: inline-block;
    }

    li {
        margin-left: 2rem;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

main {
    width: 80%;
    margin: 1rem auto;
    text-align: left;
    position: relative;

    article {

        width: 75%;
        display: inline-block;

        div {
            max-width: 40%;
            display: inline-block;
        }

        h2 {
            margin-left: 2rem;
            display: inline-block;
        }
    }

    aside {
        width: 20%;
        display: inline-block;
        position: absolute;
        top: 0;

        img {
            width: 100%;
        }
    }
}

.noticia-completa {
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 100%;
    }

    .azul {
        color: rgb(8, 8, 146);
    }

    .video {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 2rem 0;
        border: #000 2px solid;
    }

    tr {
        background-color: blue;
        color: #fff;
        height: 1.5rem;
    }

    tr:nth-child(odd) {
        background-color: yellow;
        color: #000;
    }
}

.contacto {
    background-color: #ccc;
    padding: 2rem;

    ul {
        list-style: none;
    }

    li {
        margin: 1rem 0;
    }
}

footer {
    background-color: #000;
    color: #fff;
    padding: .5rem;
    text-align: center;
}